bin/Debug/T3.exe
bin/Debug/T3.pdb
bin/Debug/es/T3.resources.dll
obj/Debug/T3.exe
obj/Debug/T3.pdb
obj/Debug/es/T3.resources.dll
obj/Debug/T3.csproj.GenerateResource.Cache
obj/Debug/es/T3.resources.dll
obj/Debug/T3.Properties.Resources.resources

T3.suo

*.pdb
*.dll
*.Cache


