#archivos especificos
bin/Debug/T3.exe
bin/Debug/T3.exe
obj/Debug/es/T3.resources.dll
obj/Debug/es/T3.resources.dll
#tipos de archivos
*.pdb
*.dll
bin/Debug/T3.exe
*.pdb
obj/Debug/es/T3.resources.dll
*.Cache
obj/Debug/T3.exe
*.pdb
obj/Debug/T3.Properties.Resources.resources
*.dll
T3.suo
bin/Debug/es/T3.resources.dll
bin/Debug/T3.exe
bin/Debug/T3.pdb
obj/Debug/es/T3.resources.dll
obj/Debug/T3.csproj.GenerateResource.Cache
obj/Debug/T3.exe
obj/Debug/T3.pdb
